force-app/main/default/flows/Background_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bckgd_Check_Alert_Email</name>
        <label>Bckgd Check Alert Email</label>
        <locationX>774</locationX>
        <locationY>399</locationY>
        <actionName>Account.Background_Check_Request_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Background_Check_Results_Record</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>BkgChk_var_Fail_assignment</name>
        <label>BkgChk var Fail assignment</label>
        <locationX>954</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>varBackgroundCheckResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBkgCkFailed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLatestBkgChkNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BkgChkComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_with_Background_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BkgChk_var_Fail_assignment_0</name>
        <label>BkgChk var Fail assignment</label>
        <locationX>764</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varBackgroundCheckResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBkgCkPass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_with_Background_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_BkgChk_var_Pass_assignment</name>
        <label>Current BkgChk var Pass assignment</label>
        <locationX>593</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>varBackgroundCheckResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>varBkgCkFailed</name>
        <choiceText>{!varFirstName} {!varLastName} background check failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fail</stringValue>
        </value>
    </choices>
    <choices>
        <name>varBkgCkPass</name>
        <choiceText>{!varFirstName} {!varLastName} background check passed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pass</stringValue>
        </value>
    </choices>
    <choices>
        <name>varDoNotReorderBkgChk</name>
        <choiceText>No, Do not reorder background check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>varReorderBkgChk</name>
        <choiceText>Yes, Reorder the background check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_the_Expiration_date_of_previous_bckgrndchk</name>
        <label>Check the Expiration date of previous bckgrndchk</label>
        <locationX>585</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Background_Check_initiated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BckgrndChkExpired</defaultConnectorLabel>
        <rules>
            <name>BckgrdchkValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBkgChkExpDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_BkgChk_var_Pass_assignment</targetReference>
            </connector>
            <label>BckgrdchkValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Background_Check_Pass</name>
        <label>D Background Check Pass ?</label>
        <locationX>761</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>BkgChk_var_Fail_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Background_check_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varBkgCkPass</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BkgChk_var_Fail_assignment_0</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Previos_BkgChk_Pass</name>
        <label>D Previos BkgChk Pass?</label>
        <locationX>585</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Background_Check_initiated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Never did</defaultConnectorLabel>
        <rules>
            <name>P_BkgChk_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreviousBkgChkResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varBkgCkPass</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Expiration_date_of_previous_bckgrndchk</targetReference>
            </connector>
            <label>P BkgChk Passed</label>
        </rules>
        <rules>
            <name>P_BkgCheck_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreviousBkgChkResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varBkgCkFailed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Background_Check_Order_Request</targetReference>
            </connector>
            <label>P BkgCheck Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Reorder_Bckg_Check</name>
        <label>D Reorder Bckg Check</label>
        <locationX>942</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>BkgChk_var_Fail_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not reorder</defaultConnectorLabel>
        <rules>
            <name>Record_BkgChk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_reorder_background_check_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varReorderBkgChk</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Background_Check_initiated</targetReference>
            </connector>
            <label>Record BkgChk</label>
        </rules>
    </decisions>
    <formulas>
        <description>Background check expiration date. 

Note - Background check is valid for only 1 year</description>
        <name>varBkgChkExpDate</name>
        <dataType>Date</dataType>
        <expression>{!varPreviousBkgCkDate}+365</expression>
    </formulas>
    <formulas>
        <name>varBkgChkTaskDueDate</name>
        <dataType>Date</dataType>
        <expression>Today()+7</expression>
    </formulas>
    <interviewLabel>Background Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Background Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Background_Check_related_info</name>
        <label>Get Account Background Check related info</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D_Previos_BkgChk_Pass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varPreviousBkgCkDate</assignToReference>
            <field>Background_Check_Latest_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPreviousBkgChkResult</assignToReference>
            <field>Background_check_latest_result__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPreviousBkgCkNotes</assignToReference>
            <field>Background_check_notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFirstName</assignToReference>
            <field>First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastName</assignToReference>
            <field>Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_Background_check</name>
        <label>Update Account with Background check</label>
        <locationX>771</locationX>
        <locationY>1172</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Background_Check_Latest_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_check_latest_result__c</field>
            <value>
                <elementReference>varBackgroundCheckResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_check_notes__c</field>
            <value>
                <elementReference>varLatestBkgChkNotes</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Background_Check_initiated</name>
        <label>Background Check initiated</label>
        <locationX>767</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bckgd_Check_Alert_Email</targetReference>
        </connector>
        <fields>
            <name>BkgChkINotes1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Background check  requested for {!varFirstName} {!varLastName}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can pause the flow now and once you receive the results, continue the on boarding process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Background_Check_Results_Record</name>
        <label>Background Check Results Record</label>
        <locationX>767</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D_Background_Check_Pass</targetReference>
        </connector>
        <fields>
            <name>BkgChkNote2</name>
            <fieldText>&lt;p&gt;Please record  the background check results for {!varFirstName}  {!varLastName} &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Background_Check_Results</name>
            <choiceReferences>varBkgCkPass</choiceReferences>
            <choiceReferences>varBkgCkFailed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>varBkgCkPass</defaultSelectedChoiceReference>
            <fieldText>Background check results</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BkgChkNote21</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BkgChkComments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Background_check_results</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>varBkgCkPass</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UploadBckgrndCheckReport</name>
            <fieldText>&lt;p&gt;Please upload the background check report.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>uploadbckgrdchkreportFile</name>
            <extensionName>c:aDFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countOfFiles</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>docType</name>
                <value>
                    <stringValue>Background Check  Report</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Background_Check_Order_Request</name>
        <label>Background Check Order Request</label>
        <locationX>951</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D_Reorder_Bckg_Check</targetReference>
        </connector>
        <fields>
            <name>BkgChkNote1</name>
            <fieldText>&lt;p&gt;{!varFirstName} {!varLastName} failed the background check done on {!varPreviousBkgCkDate} with below notes:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varPreviousBkgCkNotes}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_reorder_background_check_again</name>
            <choiceReferences>varReorderBkgChk</choiceReferences>
            <choiceReferences>varDoNotReorderBkgChk</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to reorder background check again ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>54</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Get_Account_Background_Check_related_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBackgroundCheckResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLatestBkgChkNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPreviousBkgChkResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPreviousBkgCkDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPreviousBkgCkNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
