force-app/main/default/flows/Board_Member_Draft.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Board_Member_application_Rejection</name>
        <label>Board Member application Rejection</label>
        <locationX>206</locationX>
        <locationY>757</locationY>
        <actionName>Account.Rejection_for_the_Board_Member_application</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>choiceAcceptedOtherRole</name>
        <choiceText>Accepted other roles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCommitteeChooseNotToProceed</name>
        <choiceText>Committee Choose Not To Proceed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCommitteeChooseToProceed</name>
        <choiceText>Committee Choose To Proceed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGoodFitYes</name>
        <choiceText>Good Fit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGoodToMoveNo</name>
        <choiceText>Not good to move forward</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGoodToMoveYes</name>
        <choiceText>Good to move Forward</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNotAcceptedOtherRole</name>
        <choiceText>Not Accepted Other Roles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNotAGoodFit</name>
        <choiceText>Not A Good Fit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <decisions>
        <name>BC_Choose_to_Proceed</name>
        <label>BC Choose to Proceed</label>
        <locationX>763</locationX>
        <locationY>933</locationY>
        <defaultConnector>
            <targetReference>BM_Status_Update_to_not_offered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Board Choose not to onboard as board member</defaultConnectorLabel>
        <rules>
            <name>Onboard_as_board_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_to_Onboard_as_Board_Member</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_BM_to_Active</targetReference>
            </connector>
            <label>Onboard as board member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deciion_To_Move_Forward</name>
        <label>Deciion To Move Forward</label>
        <locationX>767</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Offer_Other_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Move Forward</defaultConnectorLabel>
        <rules>
            <name>Move_Forward</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_to_move_forward</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BM_Status_update_to_BIC_Date_Setup</targetReference>
            </connector>
            <label>Move Forward</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_he_accept_other_role</name>
        <label>Did he accept other role</label>
        <locationX>444</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Board_Member_application_Rejection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Accepted other role</defaultConnectorLabel>
        <rules>
            <name>Yes_Accepted_other_role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accepted_Other_Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboard_Volunteer2</targetReference>
            </connector>
            <label>Yes Accepted other role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Good_Fit_for_Board</name>
        <label>Is Good Fit for Board</label>
        <locationX>999</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Offer_Other_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Good Fit</defaultConnectorLabel>
        <rules>
            <name>Good_Fit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_the_board_interview_committee_recommendation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BM_Update_BIC_Deem_fit</targetReference>
            </connector>
            <label>Good Fit</label>
        </rules>
    </decisions>
    <interviewLabel>Board Member Draft {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Board Member Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Board_Member_Account_Details</name>
        <label>Get Board Member Account Details</label>
        <locationX>517</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Board_Member_Onboarding_temp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Board_Member_Onboarding_temp</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BM_Status_update_to_BIC_Date_Setup</name>
        <label>BM Status update to BIC Date Setup</label>
        <locationX>906</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>Formal_Interview_With_Board</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Board_Member_Status__c</field>
            <value>
                <stringValue>Board Interview Committee Feedback Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>BM_Status_Update_to_not_offered</name>
        <label>BM Status Update to not offered</label>
        <locationX>772</locationX>
        <locationY>761</locationY>
        <connector>
            <targetReference>Offer_Other_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Board_Member_Status__c</field>
            <value>
                <stringValue>Not a good fit</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>BM_Update_BIC_Deem_fit</name>
        <label>BM Update  BIC Deem fit</label>
        <locationX>1006</locationX>
        <locationY>761</locationY>
        <connector>
            <targetReference>Response_Board_Interview_Committee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Board_Member_Status__c</field>
            <value>
                <stringValue>Board Interview Committee interview Setup</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Formal_Interivew_Date_and_Status</name>
        <label>Update Formal Interivew Date and Status</label>
        <locationX>1188</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>BM_Good_Fit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Date_for_Board__c</field>
            <value>
                <elementReference>Resume_Submitted_Date_to_Board_Interview_Committee</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MB_Status_To_Preliminary_Interview_Setup</name>
        <label>Update MB Status To Preliminary Interview Setup</label>
        <locationX>771</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Prelim_Interview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Board_Member_Status__c</field>
            <value>
                <stringValue>Preliminary Interview Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Date_for_Board__c</field>
            <value>
                <elementReference>Preliminary_Interview_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prelim_Interview_Rejection</name>
        <label>Update Prelim Interview Rejection</label>
        <locationX>449</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Did_he_accept_other_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Board_Member_Status__c</field>
            <value>
                <stringValue>Not a good fit</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_BM_to_Active</name>
        <label>Update the BM to Active</label>
        <locationX>599</locationX>
        <locationY>932</locationY>
        <connector>
            <targetReference>Onboard_Volunteer2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Board_Member_Accepted_Date__c</field>
            <value>
                <elementReference>Board_Interview_Committee_Interview_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Board_Member_Status__c</field>
            <value>
                <stringValue>Provisionally on boarded as volunteer until next board meeting</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>BM_Good_Fit</name>
        <label>BM Good Fit?</label>
        <locationX>1190</locationX>
        <locationY>572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Good_Fit_for_Board</targetReference>
        </connector>
        <fields>
            <name>Record_the_board_interview_committee_recommendation</name>
            <choiceReferences>choiceGoodFitYes</choiceReferences>
            <choiceReferences>choiceNotAGoodFit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record the board interview committee recommendation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Board_Member_Onboarding_temp</name>
        <label>Board Member Onboarding temp</label>
        <locationX>519</locationX>
        <locationY>259</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_MB_Status_To_Preliminary_Interview_Setup</targetReference>
        </connector>
        <fields>
            <name>BMNote1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please upload {!Get_Board_Member_Account_Details.First_Name__c}  {!Get_Board_Member_Account_Details.Last_Name__c} resume :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResumeUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Resume upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BMNote12</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preliminary_Interview_Date</name>
            <dataType>Date</dataType>
            <fieldText>Select Preliminary Interview Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BMNote17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BMNote2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;i&gt;* ﻿After the preliminary interview date is picked, please proceed to next screen&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Formal_Interview_With_Board</name>
        <label>Feedback from Board Interview Committee</label>
        <locationX>1033</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Formal_Interivew_Date_and_Status</targetReference>
        </connector>
        <fields>
            <name>BMNote6</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Upon scheduling the interview date, {!Get_Board_Member_Account_Details.First_Name__c}&amp;nbsp;{!Get_Board_Member_Account_Details.Last_Name__c}&apos;s resume will sent out to Board Interview Committee.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resume_Submitted_Date_to_Board_Interview_Committee</name>
            <dataType>Date</dataType>
            <fieldText>Resume Submitted Date to Board Interview Committee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BMNote61</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Please hit next button to send out the resume to board interview committee. &lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Offer_Other_Roles</name>
        <label>Offer Other Roles</label>
        <locationX>772</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Prelim_Interview_Rejection</targetReference>
        </connector>
        <fields>
            <name>BMNote4</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Preliminary Interview Committee recommendation is to offer {!Get_Board_Member_Account_Details.First_Name__c}  {!Get_Board_Member_Account_Details.Last_Name__c} other positions and not the board position.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please offer other positions and record the decision below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accepted_Other_Roles</name>
            <choiceReferences>choiceAcceptedOtherRole</choiceReferences>
            <choiceReferences>choiceNotAcceptedOtherRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accepted Other Roles</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prelim_Interview</name>
        <label>Prelim Interview</label>
        <locationX>774</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deciion_To_Move_Forward</targetReference>
        </connector>
        <fields>
            <name>BMNote9</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please record the preliminary interview outcome for {!Get_Board_Member_Account_Details.First_Name__c}&amp;nbsp;{!Get_Board_Member_Account_Details.Last_Name__c} :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_to_move_forward</name>
            <choiceReferences>choiceCommitteeChooseToProceed</choiceReferences>
            <choiceReferences>choiceCommitteeChooseNotToProceed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose to move forward</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Response_Board_Interview_Committee</name>
        <label>Response Board Interview Committee</label>
        <locationX>1006</locationX>
        <locationY>929</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BC_Choose_to_Proceed</targetReference>
        </connector>
        <fields>
            <name>BMNote8</name>
            <fieldText>&lt;p&gt;Please schedule the formal meeting with Board Interview Committee for {!Get_Board_Member_Account_Details.First_Name__c}&amp;nbsp;{!Get_Board_Member_Account_Details.Last_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Board_Interview_Committee_Interview_Date</name>
            <dataType>Date</dataType>
            <fieldText>Board Interview Committee Interview Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BMNote81</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BMNote7_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please record the Formal Interview Outcome once interview is done&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_to_Onboard_as_Board_Member</name>
            <choiceReferences>choiceCommitteeChooseToProceed</choiceReferences>
            <choiceReferences>choiceCommitteeChooseNotToProceed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose to Onboard as Board Member</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>177</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Board_Member_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Onboard_Volunteer2</name>
        <label>Onboard Volunteer2</label>
        <locationX>454</locationX>
        <locationY>930</locationY>
        <flowName>Volunteer_Onboarding_v4</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>TTbodyThanksForApplyForBoard</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Get_Board_Member_Account_Details.First_Name__c}  {!Get_Board_Member_Account_Details.Last_Name__c}, &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks for your interest in Atlas Dog board position, at this time we are not able to proceed with your request. We will definitely reach out in future in there is a need be.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Atlas Dog&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBCStatuAfterPrelimInterview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResumeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
