force-app/main/default/flows/Dog_DoB_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>AcceptingHealthCheckFailedDog</name>
        <choiceText>Accepting Health Check Failed Dog</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>C_DogNeutralized</name>
        <choiceText>Is dog neutralized</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>DE_Accepting_Health_Checked_Failed_Dog</name>
        <label>DE Accepting Health Checked Failed Dog</label>
        <locationX>50</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Next_Steps_Rejected_Health_Check_Failed_Dog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Accepting Health Check Failed Dog</defaultConnectorLabel>
        <rules>
            <name>Accepting_the_Health_Check_Failed_Dog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcceptingHealthCheckFailedDog</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spray_Dog</targetReference>
            </connector>
            <label>Accepting the Health Check Failed Dog</label>
        </rules>
    </decisions>
    <decisions>
        <name>Health_Check_Result</name>
        <label>Health Check Result</label>
        <locationX>285</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Health_Check_Failure_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Health Check Failed</defaultConnectorLabel>
        <rules>
            <name>HealthCheckedPassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HealthCheckPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spray_Dog</targetReference>
            </connector>
            <label>Health Checked Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDogQualify</name>
        <label>IsDogQualify</label>
        <locationX>473</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Display_Cutoff_Date_Plus_365</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DogNotQualify</defaultConnectorLabel>
        <rules>
            <name>DogQuality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DogDoBQualify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaptureMircoChipNumber</targetReference>
            </connector>
            <label>DogQuality</label>
        </rules>
    </decisions>
    <formulas>
        <name>CutoffDate</name>
        <dataType>Date</dataType>
        <expression>Addmonths({!Dog_Date_of_Birth},14)</expression>
    </formulas>
    <formulas>
        <name>DogDoBQualify</name>
        <dataType>String</dataType>
        <expression>if({!CutoffDate}&lt;Today(), &apos;True&apos;,&apos;False&apos;)</expression>
    </formulas>
    <interviewLabel>Dog DoB Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dog DoB Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CaptureMircoChipNumber</name>
        <label>CaptureMircoChipNumber</label>
        <locationX>485</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Health_Check_Result</targetReference>
        </connector>
        <fields>
            <name>MicroChipDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(71, 81, 221); font-size: 16px;&quot;&gt;&lt;i&gt;&lt;u&gt;Capture Dog&apos;s Microchip Details:&lt;/u&gt;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DogMicroCipNumber</name>
            <dataType>String</dataType>
            <fieldText>DogMicroCipNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ChipNumberLater</name>
            <fieldText>&lt;p&gt;Please check the below box if you have no Microchip Number.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Note - Dog needs microchip number before the certiication&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DogMicroChipNumberLater</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>DogMicroChipNumberLater</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HealthCheckDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&lt;i&gt;&lt;u&gt;Capture Heath Check result and upload Vet Form﻿&lt;/u&gt;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadVetFormInfo</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please upload Vet Form&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VetFromUpload</name>
            <extensionName>c:CustomerUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Vet Form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>myRecordId</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HealthCheckInfo</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check the below box if Dog passed Health Check if not, please record the detaied notes on why dog failed the health Check&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HealthCheckPassed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>HealthCheckPassed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Cutoff_Date_Plus_365</name>
        <label>Display Cutoff Date Plus 365</label>
        <locationX>694</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMinmDate</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Sorry, Dog need to be atleast 14  months to qualify our program !&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your qualifies on or after {!CutoffDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dog_DoB_Validation</name>
        <label>Dog DoB Validation</label>
        <locationX>305</locationX>
        <locationY>48</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsDogQualify</targetReference>
        </connector>
        <fields>
            <name>DoB_Ask_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please enter the Dog&apos;s  date of birth.&lt;/b&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dog_Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Dog Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Health_Check_Failure_Notes</name>
        <label>Health Check Failure Notes</label>
        <locationX>58</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DE_Accepting_Health_Checked_Failed_Dog</targetReference>
        </connector>
        <fields>
            <name>InfoHealthNotes</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please record the notes on Dog&apos;s  Health Check  Failure:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dog_Health_Failure_Notes</name>
            <dataType>String</dataType>
            <fieldText>Dog Health Failure Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StillAcceptHealthCheckFailedDog</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Do you still want to accept the Dog ?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accepting_Health_Check_Failed_Dog</name>
            <choiceReferences>AcceptingHealthCheckFailedDog</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Accepting Health Check Failed Dog</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Next_Steps_Rejected_Health_Check_Failed_Dog</name>
        <label>Next Steps - Rejected Health Check Failed Dog</label>
        <locationX>56</locationX>
        <locationY>655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HealthCheckFailedDogRejection</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sorry, We are not accepting the Dog as it failed the health Check. Please drop an email to the Client asking him to find another dog or works on the reasons for rejection:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Dog_Health_Failure_Notes}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Spray_Dog</name>
        <label>Spray Dog</label>
        <locationX>302</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Info_Spray_Dog</name>
            <fieldText>&lt;p&gt;Dog need to be neutralized in order to be  be part of our program.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RB_Is_dog_neutralized</name>
            <choiceReferences>C_DogNeutralized</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Is dog neutralized</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Info_DogNeedToBeNeutraized</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(228, 21, 21);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please Note - Dog Need to be neutralized / Sprayed before the Certification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RB_Is_dog_neutralized</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>125</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Dog_DoB_Validation</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Dog_dob</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DogVetFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VetFormId4Dog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
