force-app/main/default/flows/Faciltator_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_Provisioning_email_alert</name>
        <label>Account Provisioning email alert</label>
        <locationX>1428</locationX>
        <locationY>1188</locationY>
        <actionName>Account.Account_Provision_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Course_Completion_Confirmation</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BkgrndChek_Email_request</name>
        <label>BkgrndChek Email request</label>
        <locationX>445</locationX>
        <locationY>1837</locationY>
        <actionName>Account.Background_Check_Request_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Background_Check_Requested_Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Provisionally_selected_agreement</name>
        <label>Email Alert - Provisionally selected agreement</label>
        <locationX>950</locationX>
        <locationY>878</locationY>
        <actionName>Account.Facilitator_Provisionally_selected_agreement_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Provisional_Agreement_Commitment_Agreement_Upload</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_to_send_out_the_agreement</name>
        <label>Email Alert to send out the agreement</label>
        <locationX>1634</locationX>
        <locationY>1415</locationY>
        <actionName>Account.Email_Alert_to_send_out_the_Facilitator_Agreement</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Agreement_Receipt_details</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Facilitator_Reject_Email_Notification</name>
        <label>Facilitator Reject Email Notification</label>
        <locationX>1348</locationX>
        <locationY>723</locationY>
        <actionName>Account.Facilitator_rejection_at_Provisional_interview_stage_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Facilitator_Rejection_Communication_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Facilitator_Rejection_Communication_Confirmation</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Facilitator_rejected_due_to_background_check_failure</name>
        <label>Facilitator rejected due to background check failure</label>
        <locationX>1168</locationX>
        <locationY>1734</locationY>
        <actionName>Account.Volunteer_rejected_due_to_background_check_failure</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_with_reject_considering_application_failed_bckgrnd_check</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Final_Rejection_email_alert</name>
        <label>Final Rejection email alert</label>
        <locationX>1923</locationX>
        <locationY>2063</locationY>
        <actionName>Account.Facilitator_rejection_at_Provisional_interview_stage_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Final_Facilitator_Rejection_Communication</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Provisionally_Active_Email_Alert</name>
        <label>Provisionally Active Email Alert</label>
        <locationX>1644</locationX>
        <locationY>2416</locationY>
        <actionName>Account.Facilitator_Provisionally_active_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FO_Final_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Remainder_for_Facilitator_Preliminary_Interview</name>
        <label>Remainder for Facilitator Preliminary Interview</label>
        <locationX>1338</locationX>
        <locationY>503</locationY>
        <actionName>Facilitator_Interview_Schedule</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Interview_Result</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Account_Record.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Re : Set up the facilitator Preliminary interview for {!Get_Account_Record.First_Name__c} {!Get_Account_Record.Last_Name__c} on outlook</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_Background_check</name>
        <label>Task Background check</label>
        <locationX>446</locationX>
        <locationY>2273</locationY>
        <actionName>Background_Check_request</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Background_Check_Result_Record</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Account_Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Re : Please initiate background check for {!Get_Account_Record.First_Name__c} {!Get_Account_Record.Last_Name__c} as part of Facilitator Role onboarding</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_to_add_contact_to_mailchimp</name>
        <label>Task to add contact to mailchimp</label>
        <locationX>596</locationX>
        <locationY>515</locationY>
        <actionName>Add_contact_details_in_mailchip</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Update_with_provisionally_selected_Status</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Account_Record.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Re : Add{!Get_Account_Record.First_Name__c} {!Get_Account_Record.Last_Name__c} to mail chimp contacts</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_to_check_on_applicant</name>
        <label>Task to check on applicant</label>
        <locationX>356</locationX>
        <locationY>196</locationY>
        <actionName>Remainder_for_Volunteer_onboarding</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Remainder_at_the_end_of_6_months</targetReference>
        </connector>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Account_Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>varRemainderDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Check whether {!Get_Account_Record.First_Name__c}   {!Get_Account_Record.Last_Name__c} is still interested in on boarding as volunteer</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Volunteer_and_Provisionally_Selected_agreement</name>
        <label>Volunteer and Provisionally Selected agreement</label>
        <locationX>663</locationX>
        <locationY>880</locationY>
        <actionName>Account.New_Volunteer_Provisionally_selected_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Volunteer_Form_request</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>BckchckFailedConsiderAltRole</name>
        <choiceText>Consider for alternate role</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BckgrndCheckFailedNotConsideringAltRole</name>
        <choiceText>Not offering / considering alternate roles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice</name>
        <choiceText>{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} attended the workshop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAgreementNotSent</name>
        <choiceText>&lt;b style=&quot;color: rgb(157, 33, 43);&quot;&gt;Not Yet &lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAgreementSent</name>
        <choiceText>&lt;b style=&quot;color: rgb(32, 150, 54);&quot;&gt;Sent Agreement &lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceBGChkFailed</name>
        <choiceText>Background Check Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fail</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceBGChkPassed</name>
        <choiceText>Background check passed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pass</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceClarifiedAndConsidered</name>
        <choiceText>Clarified and Considered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceClarifiedAndNotConsidered</name>
        <choiceText>Clarified and not considered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCoursesCompleted</name>
        <choiceText>{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} Completed the training courses and attended the workshop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCoursesNotCompleted</name>
        <choiceText>{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} not completed the training courses / Workshop attended yet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDecidesNotToConsider</name>
        <choiceText>Decides not to consider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDecidesToConsider</name>
        <choiceText>Decides to consider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGoodFit</name>
        <choiceText>&lt;span style=&quot;color: rgb(46, 141, 57);&quot;&gt;{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} is good fit&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNotConsideringOtherRoles</name>
        <choiceText>Not considering other roles.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Np</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNotGoofFit</name>
        <choiceText>&lt;span style=&quot;color: rgb(231, 20, 20);&quot;&gt;{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} not a good fit&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNotInterested</name>
        <choiceText>No more interested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOtherRolesConsidered</name>
        <choiceText>Considering other roles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceProvisionallyNotSelected</name>
        <choiceText>{!Get_Account_Record.First_Name__c} {!Get_Account_Record.Last_Name__c} Not Selected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceProvisionallySelected</name>
        <choiceText>{!Get_Account_Record.First_Name__c} {!Get_Account_Record.Last_Name__c} Provisionally Selected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceReorderBkgChkNo</name>
        <choiceText>No, Do not reorder the background check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceReorderBkgChkYes</name>
        <choiceText>Yes, Reorder background check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceVolunteerFormSubmitted</name>
        <choiceText>Submitted volunteer form already</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceVolunteerNotFormSubmitted</name>
        <choiceText>Volunteer form not submitted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWillGetBack</name>
        <choiceText>Yes, Reach out in 3 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWorkshipAttended</name>
        <choiceText>&lt;span style=&quot;color: rgb(67, 144, 73);&quot;&gt;{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} attended the workshop&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWorkshipNotAttended</name>
        <choiceText>&lt;span style=&quot;color: rgb(215, 38, 38);&quot;&gt;{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} did not attend the course&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>varConsideredNotToProceedBkgChkFailed</name>
        <choiceText>Considered Not to Proceed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>varConsiderFailedBkgcheck</name>
        <choiceText>Considered to proceed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Back_check_passed</name>
        <label>Back check passed?</label>
        <locationX>1427</locationX>
        <locationY>2268</locationY>
        <defaultConnector>
            <targetReference>Background_Check_Result_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Passed</defaultConnectorLabel>
        <rules>
            <name>Yes_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Background_Check_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceBGChkPassed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_to_send_out_the_agreement</targetReference>
            </connector>
            <label>Yes,  Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Considering_to_onboard_as_Facilitator</name>
        <label>Considering to onboard as Facilitator</label>
        <locationX>934</locationX>
        <locationY>332</locationY>
        <defaultConnector>
            <targetReference>Decision_to_get_back</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not considering</defaultConnectorLabel>
        <rules>
            <name>Considering_To_Onboard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Considering</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceDecidesToConsider</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interview_Info</targetReference>
            </connector>
            <label>Considering To Onboard</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_BkgChk_Pass</name>
        <label>D BkgChk Pass</label>
        <locationX>974</locationX>
        <locationY>1411</locationY>
        <defaultConnector>
            <targetReference>Background_Check_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BkgCheck Failed</defaultConnectorLabel>
        <rules>
            <name>BkgChk_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Background_check_latest_result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_to_send_out_the_agreement</targetReference>
            </connector>
            <label>BkgChk Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Bkgnd_Check_Done</name>
        <label>D Bkgnd Check Done</label>
        <locationX>712</locationX>
        <locationY>1409</locationY>
        <defaultConnector>
            <targetReference>BkgrndChek_Email_request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Done</defaultConnectorLabel>
        <rules>
            <name>Bgck_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBkgndChkDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D_BkgChk_Pass</targetReference>
            </connector>
            <label>Bgck Done?</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Considered_after_bkch_failure</name>
        <label>D Considered after bkch failure</label>
        <locationX>1284</locationX>
        <locationY>2083</locationY>
        <defaultConnector>
            <targetReference>Offer_other_role_after_backgrndcheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not considered</defaultConnectorLabel>
        <rules>
            <name>Considered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_consider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varConsiderFailedBkgcheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Considered_the_BKChk_failed</targetReference>
            </connector>
            <label>Considered</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Good_Fit</name>
        <label>D Good Fit</label>
        <locationX>708</locationX>
        <locationY>1299</locationY>
        <defaultConnector>
            <targetReference>Update_with_reject_considering_application_is_not_fit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not fit</defaultConnectorLabel>
        <rules>
            <name>Fit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Good_Fit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceGoodFit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D_Bkgnd_Check_Done</targetReference>
            </connector>
            <label>Fit</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Other_Roles</name>
        <label>D Other Roles</label>
        <locationX>1907</locationX>
        <locationY>1831</locationY>
        <defaultConnector>
            <targetReference>Final_Rejection_email_alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not taking other roles</defaultConnectorLabel>
        <rules>
            <name>Taking_Other_Roles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Taken_other_roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceOtherRolesConsidered</elementReference>
                </rightValue>
            </conditions>
            <label>Taking Other Roles</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Reorder_Bkgchk</name>
        <label>D Reorder Bkgchk</label>
        <locationX>814</locationX>
        <locationY>1833</locationY>
        <defaultConnector>
            <targetReference>Background_Check_Result_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not order background check</defaultConnectorLabel>
        <rules>
            <name>Record_background_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reorder_background_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BkgrndChek_Email_request</targetReference>
            </connector>
            <label>Record background check</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Volunteer_form_already_submitted</name>
        <label>D Volunteer form already submitted</label>
        <locationX>819</locationX>
        <locationY>877</locationY>
        <defaultConnector>
            <targetReference>Volunteer_and_Provisionally_Selected_agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Yet</defaultConnectorLabel>
        <rules>
            <name>Submitted_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Volunteer_Emergency_Contact_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Provisionally_selected_agreement</targetReference>
            </connector>
            <label>Submitted Already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_get_back</name>
        <label>Decision to get back</label>
        <locationX>726</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Update_with_No_more_intersted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not interested</defaultConnectorLabel>
        <rules>
            <name>Will_Get_back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_back_in_6_months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acct_with_Not_Ready_Status</targetReference>
            </connector>
            <label>Will Get back</label>
        </rules>
    </decisions>
    <decisions>
        <description>Background check failed, do you want to consider offer alternate role which needs no background check</description>
        <name>Offer_other_role</name>
        <label>Offer other role</label>
        <locationX>1163</locationX>
        <locationY>1868</locationY>
        <defaultConnector>
            <targetReference>Facilitator_rejected_due_to_background_check_failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bckgrnd Check Failed Offer No other Role</defaultConnectorLabel>
        <rules>
            <name>Bckgrnd_Check_Failed_Offer_other_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Background_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BkgChk_Passed</elementReference>
                </rightValue>
            </conditions>
            <label>Bckgrnd Check Failed Offer other Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provisionally_selected_for_facilitator_role</name>
        <label>Provisionally selected for facilitator role</label>
        <locationX>939</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Update_with_provision_selection_result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provisionally not selected</defaultConnectorLabel>
        <rules>
            <name>Provisionally_selected_for_Facitator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provisionally_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceProvisionallySelected</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_add_contact_to_mailchimp</targetReference>
            </connector>
            <label>Provisionally selected for Facitator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Courses_Completed</name>
        <label>Training Courses Completed ?</label>
        <locationX>1069</locationX>
        <locationY>1198</locationY>
        <defaultConnector>
            <targetReference>Course_Completion_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Training couress not completed</defaultConnectorLabel>
        <rules>
            <name>Training_Courses_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Courses_Workshop_Completion_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceCoursesCompleted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Good_Fit_Based_on_workshop_participation</targetReference>
            </connector>
            <label>Training Courses Complete</label>
        </rules>
    </decisions>
    <formulas>
        <name>varBackCheckStatus</name>
        <dataType>String</dataType>
        <expression>&quot;Pass&quot;</expression>
    </formulas>
    <formulas>
        <name>varBkgndChkDone</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISBLANK({!Get_Account_Record.Background_Check_Latest_Date__c}), FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>varRemainderDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(today(),3)</expression>
    </formulas>
    <formulas>
        <name>varRemainderDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>VarTodayDateForCourseAssgmnet</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>varVolunteerFormSentOn</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Faciltator Onboarding v4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Faciltator Onboarding v4</label>
    <loops>
        <name>Process_Course_Master_IDs_Collected</name>
        <label>Process Course Master IDs Collected</label>
        <locationX>1404</locationX>
        <locationY>888</locationY>
        <assignNextValueToReference>varFetchMasterCourseId</assignNextValueToReference>
        <collectionReference>varCollectCourseMasterIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Course_Assginment_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_provisioning_notes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Course_Assginment_Records</name>
        <label>Create Course Assginment Records</label>
        <locationX>1626</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Process_Course_Master_IDs_Collected</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Date__c</field>
            <value>
                <elementReference>VarTodayDateForCourseAssgmnet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Name__c</field>
            <value>
                <elementReference>varFetchMasterCourseId</elementReference>
            </value>
        </inputAssignments>
        <object>Courses_Taken__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>760</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Facilitator_Considering_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Considered_the_BKChk_failed</name>
        <label>Considered the BKChk failed</label>
        <locationX>1372</locationX>
        <locationY>1825</locationY>
        <connector>
            <targetReference>Email_Alert_to_send_out_the_agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Background_check_notes__c</field>
            <value>
                <elementReference>Notes_for_consideration</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_provisioning_notes</name>
        <label>Update Account provisioning notes</label>
        <locationX>1642</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Account_Provisioning_email_alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Status__c</field>
            <value>
                <stringValue>Training course and workshop pending completion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facilitator_provision_details__c</field>
            <value>
                <elementReference>Account_Provisioning_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_provisioning_notes_0_0</name>
        <label>Update Account Status with BC result</label>
        <locationX>817</locationX>
        <locationY>2273</locationY>
        <connector>
            <targetReference>Back_check_passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Background_Check_Latest_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_check_latest_result__c</field>
            <value>
                <elementReference>Background_Check_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Acct_with_Not_Ready_Status</name>
        <label>Update Acct with Not Ready Status</label>
        <locationX>521</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Task_to_check_on_applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Reminder_Date__c</field>
            <value>
                <elementReference>varRemainderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facilitator_Status__c</field>
            <value>
                <stringValue>Not Ready</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Background_Check_Requested_Date</name>
        <label>Update Background Check Requested Date</label>
        <locationX>445</locationX>
        <locationY>2099</locationY>
        <connector>
            <targetReference>Task_Background_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Background_Check_Requested_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interiew_date_and_Status</name>
        <label>Update Interiew date and Status</label>
        <locationX>1335</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Remainder_for_Facilitator_Preliminary_Interview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Interview_End_DateTime__c</field>
            <value>
                <elementReference>Interview_Date_Time_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facilitator_Interview_Start_Date_Time__c</field>
            <value>
                <elementReference>Interview_Date_and_time_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facilitator_Status__c</field>
            <value>
                <stringValue>Scheduled Interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facilitator_application_receipt_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facilitator_application_received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interiew_Notes</name>
        <label>Update Interiew Notes</label>
        <locationX>1075</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Provisionally_selected_for_facilitator_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Interview_Notes__c</field>
            <value>
                <elementReference>Preliminary_Interview_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Provisional_Agreement_Date</name>
        <label>Update Provisional Agreement Date</label>
        <locationX>1218</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Account_Provisioning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Provisional_Agreement_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Provisional_Active</name>
        <label>Update Status to Provisional Active</label>
        <locationX>1639</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Provisionally_Active_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Status__c</field>
            <value>
                <stringValue>Provisionally active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facitator_Agreement_Recieved_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Volunteer</name>
        <label>Update Volunteer form receipt date</label>
        <locationX>802</locationX>
        <locationY>1040</locationY>
        <connector>
            <targetReference>Account_Provisioning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Provisional_Agreement_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer_Emergency_Contact_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volunteer_Forms_Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_No_more_intersted</name>
        <label>Update with No more intersted</label>
        <locationX>503</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>No_more_interested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Status__c</field>
            <value>
                <stringValue>Not considering</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_provision_selection_result</name>
        <label>Update with provision selection result</label>
        <locationX>950</locationX>
        <locationY>718</locationY>
        <connector>
            <targetReference>Facilitator_Reject_Email_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Status__c</field>
            <value>
                <stringValue>Not Selected</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_provisionally_selected_Status</name>
        <label>Update with provisionally selected Status</label>
        <locationX>764</locationX>
        <locationY>723</locationY>
        <connector>
            <targetReference>D_Volunteer_form_already_submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Status__c</field>
            <value>
                <stringValue>Provisionally selected</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_reject_considering_application_failed_bckgrnd_check</name>
        <label>Update with reject considering application failed bckgrnd check</label>
        <locationX>1168</locationX>
        <locationY>1553</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Status__c</field>
            <value>
                <stringValue>Not Selected</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_reject_considering_application_is_not_fit</name>
        <label>Update with reject considering application is not fit</label>
        <locationX>1759</locationX>
        <locationY>1320</locationY>
        <connector>
            <targetReference>Offer_Other_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Facilitator_Status__c</field>
            <value>
                <stringValue>Not Selected</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Account_Provisioning</name>
        <label>Account Provisioning</label>
        <locationX>1222</locationX>
        <locationY>1038</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Course_Master_IDs_Collected</targetReference>
        </connector>
        <fields>
            <name>FONote7</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please list out the accounts to be provisioned for {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} after checking his current active roles.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Provisioning_Notes</name>
            <fieldText>Account Provisioning Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FONote71</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;WIP&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select the courses and work shop schedule that need to be assigned {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} to onboard for Facilitator role. You can select more than 1 course.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Note - Prior to assigning the courses, please check the courses {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} have already completed by going to course assignment tab or account tab.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FacCourseMaster</name>
            <extensionName>c:courseMasterFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>typeOfUser</name>
                <value>
                    <stringValue>Facilitator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Agreement_Receipt_details</name>
        <label>Agreement Receipt details</label>
        <locationX>1646</locationX>
        <locationY>2063</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Status_to_Provisional_Active</targetReference>
        </connector>
        <fields>
            <name>FOAgmtUploadNote1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please upload the signed agreement received from {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} as part of Facilitator on boarding process&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FacAgreementUpload</name>
            <extensionName>c:aDFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countOfFiles</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>docType</name>
                <value>
                    <stringValue>Agreement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userType</name>
                <value>
                    <stringValue>Facilitator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Background_Check_Confirmation</name>
        <label>Reorder - Background Check Confirmation</label>
        <locationX>980</locationX>
        <locationY>1831</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D_Reorder_Bkgchk</targetReference>
        </connector>
        <fields>
            <name>ReorderBkgndCheck</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} background check done on {!Get_Account_Record.Background_Check_Latest_Date__c} failed. Do you want to order background again or consider on boarding without reorder.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reorder_background_check</name>
            <choiceReferences>choiceReorderBkgChkYes</choiceReferences>
            <choiceReferences>choiceReorderBkgChkNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reorder background check</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Background_Check_Result_Record</name>
        <label>Background Check Result Record</label>
        <locationX>630</locationX>
        <locationY>2273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account_provisioning_notes_0_0</targetReference>
        </connector>
        <fields>
            <name>FONote8</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Ordered the background check for {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c}  on  {!Get_Account_Record.Background_Check_Requested_Date__c} &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please record the background check result below:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Background_Check_Status</name>
            <choiceReferences>choiceBGChkPassed</choiceReferences>
            <choiceReferences>choiceBGChkFailed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Background Check Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FONote81</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Background_Check_Result_Record_0</name>
        <label>Consider Background check failed</label>
        <locationX>822</locationX>
        <locationY>2088</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D_Considered_after_bkch_failure</targetReference>
        </connector>
        <fields>
            <name>FONote8_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} failed background check. Do you want to still consider for Facilitator role ? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_consider</name>
            <choiceReferences>varConsiderFailedBkgcheck</choiceReferences>
            <choiceReferences>varConsideredNotToProceedBkgChkFailed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to consider ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes_for_consideration</name>
            <fieldText>Notes for consideration</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_consider</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>varConsiderFailedBkgcheck</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_Completion_Confirmation</name>
        <label>Course Completion Confirmation</label>
        <locationX>1262</locationX>
        <locationY>1198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Training_Courses_Completed</targetReference>
        </connector>
        <fields>
            <name>FONoteCC1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;We can only proceed once the training courses are completed by {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} and attended the workshop&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please check with in the canvas and confirm the Training courses completion.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Training_Courses_Workshop_Completion_Status</name>
            <choiceReferences>choiceCoursesCompleted</choiceReferences>
            <choiceReferences>choiceCoursesNotCompleted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Training Courses &amp; Workshop Completion Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FONoteCC2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(208, 28, 28);&quot;&gt;Cannot Proceed with on boarding process unless training courses are completed.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debug_screen</name>
        <label>debug screen</label>
        <locationX>901</locationX>
        <locationY>2450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>debugnote</name>
            <fieldText>&lt;p&gt;Background Check Status - {!Background_Check_Status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Facilitator_Considering_or_Not</name>
        <label>Facilitator Considering or Not</label>
        <locationX>943</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Considering_to_onboard_as_Facilitator</targetReference>
        </connector>
        <fields>
            <name>FONote1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!Get_Account_Record.First_Name__c}   {!Get_Account_Record.Last_Name__c} is considering to onboard as facilitator ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Considering</name>
            <choiceReferences>choiceDecidesToConsider</choiceReferences>
            <choiceReferences>choiceDecidesNotToConsider</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceDecidesToConsider</defaultSelectedChoiceReference>
            <fieldText>Considering</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FONote24</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_back_in_6_months</name>
            <choiceReferences>choiceWillGetBack</choiceReferences>
            <choiceReferences>choiceNotInterested</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceWillGetBack</defaultSelectedChoiceReference>
            <fieldText>Check back in 6 months</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;b&gt;{!Get_Account_Record.First_Name__c} {!Get_Account_Record.Last_Name__c} will get the remainder in 6 months if - &apos;Will get back&apos; is selected.&lt;/b&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Considering</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>choiceDecidesToConsider</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Facilitator_Rejection_Communication_Confirmation</name>
        <label>Facilitator Rejection Communication Confirmation</label>
        <locationX>1904</locationX>
        <locationY>724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Offer_Other_Roles</targetReference>
        </connector>
        <fields>
            <name>RejectionNote</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sent out the rejection email letter for Facilitator role application. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Facilitator_Rejection_Communication</name>
        <label>Final Facilitator Rejection Communication</label>
        <locationX>2140</locationX>
        <locationY>2062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RejectionNote_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Final rejection note here&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FO_Final_Screen</name>
        <label>FO Final Screen</label>
        <locationX>1646</locationX>
        <locationY>2583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FOFinalNote1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} is Provisionally Activated and notified via email.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once he is assigned to the client, please &lt;b&gt;choose the action &apos;Activate Facilitator&apos;&lt;/b&gt;  to complete the activation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Good_Fit_Based_on_workshop_participation</name>
        <label>Good Fit Based on workshop participation</label>
        <locationX>844</locationX>
        <locationY>1199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D_Good_Fit</targetReference>
        </connector>
        <fields>
            <name>FOGFNote1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Based on {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} participation and input from the workshop, is he a good fit ?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Good_Fit</name>
            <choiceReferences>choiceGoodFit</choiceReferences>
            <choiceReferences>choiceNotGoofFit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Good Fit</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interview_Info</name>
        <label>Interview Info</label>
        <locationX>1183</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Interiew_date_and_Status</targetReference>
        </connector>
        <fields>
            <name>FONote2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Upload the application and 2 reference letters received from  {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadedFileNames</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Upload completed application received:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FacAppUpload</name>
            <extensionName>c:aDFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countOfFiles</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>docType</name>
                <value>
                    <stringValue>Application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userType</name>
                <value>
                    <stringValue>Facilitator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FRefNote</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Upload 2 reference letters:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FacRefLetterUpload</name>
            <extensionName>c:aDFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countOfFiles</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>docType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userType</name>
                <value>
                    <stringValue>Facilitator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FONote23</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Date_and_time_From</name>
            <dataType>DateTime</dataType>
            <fieldText>Interview  Date &amp; time (From)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Interview date should be later than current date and time.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Interview_Date_and_time_From} &gt; Now()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>FOInterDateNote1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Date_Time_To</name>
            <dataType>DateTime</dataType>
            <fieldText>Interview Date &amp; Time (To)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Interview (To) date/time should be later than Interview (From) date / time - {!Interview_Date_and_time_From}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Interview_Date_Time_To} &gt; {!Interview_Date_and_time_From}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>FONote22</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interview_Result</name>
        <label>Interview Result</label>
        <locationX>1225</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Interiew_Notes</targetReference>
        </connector>
        <fields>
            <name>FONote3</name>
            <fieldText>&lt;p&gt;&lt;b&gt;After reviewing the resume and talking to {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} , Please summarize the interview notes.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preliminary_Interview_Notes</name>
            <fieldText>Preliminary Interview Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FONote32</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provisionally_Selected</name>
            <choiceReferences>choiceProvisionallySelected</choiceReferences>
            <choiceReferences>choiceProvisionallyNotSelected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Provisionally Selected</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_more_interested</name>
        <label>No more interested</label>
        <locationX>293</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FONotInterestedNote</name>
            <fieldText>&lt;p&gt; {!Get_Account_Record.First_Name__c}   {!Get_Account_Record.Last_Name__c}   is no more interested in the Facilitator role.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Facilitator Status will be updated as &apos;Not considering&apos; on account record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Offer_other_role_after_backgrndcheck</name>
        <label>Offer other role after backgrndcheck</label>
        <locationX>1168</locationX>
        <locationY>1988</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Offer_other_role</targetReference>
        </connector>
        <fields>
            <name>BackCheckFailedOfferAlternateOffer</name>
            <fieldText>&lt;p&gt;Considering background check failed for {!Get_Account_Record.First_Name__c} {!Get_Account_Record.Last_Name__c},  want to offer alternate roles ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BckFailedConsiderAltRole</name>
            <choiceReferences>BckchckFailedConsiderAltRole</choiceReferences>
            <choiceReferences>BckgrndCheckFailedNotConsideringAltRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>BckFailedConsiderAltRole</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Offer_Other_Roles</name>
        <label>Offer Other Roles</label>
        <locationX>1919</locationX>
        <locationY>1323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D_Other_Roles</targetReference>
        </connector>
        <fields>
            <name>FOOfferOtherNote1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Offer {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} other than Facilitator Role.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Taken_other_roles</name>
            <choiceReferences>choiceOtherRolesConsidered</choiceReferences>
            <choiceReferences>choiceNotConsideringOtherRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Taken other roles</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FOOfferOtherNote2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Please use the other roles actions to onboard {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} in other role.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Taken_other_roles</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceOtherRolesConsidered</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FOOfferOtherNote3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;{!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c} will be notified that Atlas Dog will not be able to onboard him.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Taken_other_roles</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceNotConsideringOtherRoles</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provisional_Agreement_Commitment_Agreement_Upload</name>
        <label>Provisional Agreement Commitment  Agreement Upload</label>
        <locationX>1075</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Provisional_Agreement_Date</targetReference>
        </connector>
        <fields>
            <name>FONote5_0</name>
            <fieldText>&lt;p&gt;Please upload the signed  provisional commitment agreement received from {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email is sent with form links on {!varVolunteerFormSentOn}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FONote52_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FacProvisionalAgreement</name>
            <extensionName>c:aDFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countOfFiles</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>docType</name>
                <value>
                    <stringValue>Provisional Agreement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userType</name>
                <value>
                    <stringValue>Facilitator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remainder_at_the_end_of_6_months</name>
        <label>Remainder at the end of 6 months</label>
        <locationX>214</locationX>
        <locationY>196</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FOSixMonthsRemainder</name>
            <fieldText>&lt;p&gt;Please reach out to {!Get_Account_Record.First_Name__c}   {!Get_Account_Record.Last_Name__c}   around {!varRemainderDate} to check whether he/she still interested.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Task is being assigned to you to remind you to reach out &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;!Get_Account_Record.First_Name__c}   {!Get_Account_Record.Last_Name__c}    around {!varRemainderDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Form_request</name>
        <label>Volunteer Form request</label>
        <locationX>660</locationX>
        <locationY>1041</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Volunteer</targetReference>
        </connector>
        <fields>
            <name>FONote5</name>
            <fieldText>&lt;p&gt;Please upload the signed  volunteer form and provisional commitment agreement received from {!Get_Account_Record.First_Name__c}&amp;nbsp;&amp;nbsp;{!Get_Account_Record.Last_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email is sent with form links on {!varVolunteerFormSentOn}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FacVoluteerForm</name>
            <extensionName>c:aDFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countOfFiles</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>docType</name>
                <value>
                    <stringValue>Volunteer Form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userType</name>
                <value>
                    <stringValue>Facilitator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FONote52</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FacProvisionalAgreement2</name>
            <extensionName>c:aDFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countOfFiles</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>docType</name>
                <value>
                    <stringValue>Provisional Agreement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userType</name>
                <value>
                    <stringValue>Facilitator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>393</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varEmailBodyForAccountProvisioning</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;HOlder&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectCourseMasterIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFacilitatorPrelimInterview</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFetchMasterCourseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInterviewEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInterviewStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUploadedFileName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWSAddress1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWSCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWSCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varZipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
