force-app/main/default/flows/VolunteerRoleAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>NA_Assign_Single_Volunteer_Role_BC</name>
        <label>NA Assign Single Volunteer Role BC</label>
        <locationX>1009</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>SignleVolunteerRoleWithBC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Volunteer_Roles_with_BC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NA_AssignVolunteerRolesWithBC</name>
        <label>NA AssignVolunteerRolesWithBC</label>
        <locationX>646</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>AssignVlonteerRoleswithBCText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Volunteer_Role_with_BC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Screen2_0_0</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>VolunteerRolesWithBC</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Volunteer_Role__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>VolunteerRoleAssignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VolunteerRoleAssignment</label>
    <loops>
        <name>Loop_through_Volunteer_Roles_with_BC</name>
        <label>Loop through Volunteer Roles with BC</label>
        <locationX>923</locationX>
        <locationY>107</locationY>
        <collectionReference>AssignVolunteerRolesWithBC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NA_Assign_Single_Volunteer_Role_BC</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Debug_Screen1</name>
        <label>Debug Screen1</label>
        <locationX>1008</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowSingleRole</name>
            <fieldText>&lt;p&gt;{!SignleVolunteerRoleWithBC}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Debug_Screen2_0</name>
        <label>Debug Screen2</label>
        <locationX>567</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NA_AssignVolunteerRolesWithBC</targetReference>
        </connector>
        <fields>
            <name>NullSCreen_0</name>
            <fieldText>&lt;p&gt;BEfore Assignment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Debug_Screen2_0_0</name>
        <label>Debug Screen2</label>
        <locationX>829</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Volunteer_Roles_with_BC</targetReference>
        </connector>
        <fields>
            <name>NullSCreen_0_0</name>
            <fieldText>&lt;p&gt;Data found {!AssignVlonteerRoleswithBCText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Role_Assignment</name>
        <label>Volunteer Role Assignment</label>
        <locationX>448</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Debug_Screen2_0</targetReference>
        </connector>
        <fields>
            <name>Select_Volunteer_Role_with_BC</name>
            <choiceReferences>VolunteerRolesWithBC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Volunteer Role with BC</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Volunteer_Role_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignVlonteerRoleswithBCText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignVolunteerRolesWithBC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SignleVolunteerRoleWithBC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
